[build]
  publish = "dist/"
  command = "yarn run generate"
  environment = { NODE_VERSION = "16.4.0" }

[build.processing]
  skip_processing = false

[build.processing.css]
  bundle = false
  minify = true

[build.processing.js]
  bundle = false
  minify = true

[build.processing.html]
  pretty_urls = false

[build.processing.images]
  compress = true

[[headers]]
  for = "/*"
  [headers.values]
    Permissions-Policy = "interest-cohort=()"
