$footerColor: #d3d3d3;

$darkBgColor: #1c1c1c;
$darkBgTextColor: white;

$lightBgColor: white;
$lightBgTextColor: black;

$bodyFont: -apple-system, BlinkMacSystemFont, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
