@import "theme";

footer {
  color: $footerColor;
  margin-top: 1rem;

  flex-shrink: 1;

  & > a {
    text-decoration: none;

    .octicon {
      vertical-align: baseline;
    }

    &:visited {
      color: #6bf;
    }
  }
}
