@import "theme";

footer {
  @media (prefers-color-scheme: dark) {
    color: $darkFooterTextColor;

    & > a:visited {
      color: $darkLinkColor;
    }
  }

  @media (prefers-color-scheme: light) {
    color: $lightFooterTextColor;

    & > a:visited {
      color: $lightLinkColor;
    }
  }

  margin-top: 1rem;
  flex-shrink: 1;

  & > a {
    text-decoration: none;

    .octicon {
      vertical-align: baseline;
    }
  }
}
