@import "theme";

html,
body {
  height: 100%;
}

body {
  font-family: $bodyFont;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media (prefers-color-scheme: dark) {
  html {
    background: $darkBgColor;
    color: $darkTextColor;
  }

  a {
    color: $darkLinkColor;

    &:visited {
      color: $darkLinkVisitedColor;
    }
  }
}

@media (prefers-color-scheme: light) {
  html {
    background: $lightBgColor;
    color: $lightTextColor;
  }

  a {
    color: $lightLinkColor;

    &:visited {
      color: $lightLinkVisitedColor;
    }
  }
}

a:active {
  color: $linkActiveColor;
}

td {
  padding-right: 1rem;
}
