@import "theme";

html,
body {
  height: 100%;
}

body {
  font-family: $bodyFont;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  @media (prefers-color-scheme: dark) {
    color: $darkLinkColor;

    &:visited {
      color: $darkLinkVisitedColor;
    }
  }

  @media (prefers-color-scheme: light) {
    color: $lightLinkColor;

    &:visited {
      color: $lightLinkVisitedColor;
    }
  }

  &:active {
    color: $linkActiveColor;
  }
}

td {
  padding-right: 1rem;
}

html {
  @media (prefers-color-scheme: dark) {
    background: $darkBgColor;
    color: $darkTextColor;
  }

  @media (prefers-color-scheme: light) {
    background: $lightBgColor;
    color: $lightTextColor;
  }
}
