@import "theme";

html, body {
  height: 100%;
}

body {
  font-family: $bodyFont;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  color: #6bf;

  &:visited {
    color: #f8f;
  }
  &:active {
    color: red;
  }
}

td {
  padding-right: 1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    background: $darkBgColor;
    color: $darkBgTextColor;
  }
}

@media (prefers-color-scheme: light) {
  html {
    background: $lightBgColor;
    color: $lightBgTextColor;
  }
}
