.active {
  font-style: italic;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: currentColor;

  &:visited {
    color: currentColor;
  }
}

a {
  text-decoration: none;

  .octicon {
    vertical-align: middle;
  }

  &:hover {
    text-decoration: underline;
  }
}
