// #region Dark theme variables
$darkBgColor: #2a2f3a;
$darkTextColor: #d7d9de;
$darkFooterTextColor: #d3d3d3;

$darkLinkColor: #5e81ac;
$darkLinkVisitedColor: #b48ead;
// #endregion

// #region Light theme variables
$lightBgColor: white;
$lightTextColor: black;
$lightFooterTextColor: rgb(55, 61, 76);

$lightLinkColor: #4877b0;
$lightLinkVisitedColor: #b351a1;
// #endregion
$linkActiveColor: #b00b69;

@font-face {
  font-family: 'Consolas';
  src: local('Consolas'), url('/fonts/Consolas.ttf') format('truetype');
}

$bodyFont: 'Consolas', -apple-system, BlinkMacSystemFont, monospace, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$bodyFontWeight: 400;
$bodyFontSize: 1.1rem;
